<header class="ms-4 mt-2">
  <h1 class="font-size-16 display-6 text-center">About Centaur</h1>
  <hr class=" container-md border border-success border-2 opacity-75">
</header>
<p class="container-md mt-4 text-center">Investing in stocks can seem a little overwhelming. Centaur Investments was created to make it simple! With an easy-to-use interface, users can create an account and immediately start browsing available stocks to purchase. A ready-made portfolio with all shares and associated stocks they’ve invested in is then created for review. We take the complexity into our own hands to make the profits come easy. Get started today!</p>