<div class="mb-3">
    <h3>Purchase Confirmed</h3>
</div>
<div>
   <p>Current Price of {{stockSymbol}} is ${{stockPrice}}</p>
   <p>Requested Shares {{numShares}}</p>
   <p>Estimated Purchase Price ${{tradeCost}}</p>
   <hr/>
   <button onclick="goHome()">Return to Portfolio</button>
</div>

<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../server.js"></script>
<script type="text/javascript">
function goHome(){
    const appHost = window.location.host;
    const navPath="http://" + appHost + "/";
    console.log(navPath);
    window.location.href=navPath;
}
</script>
