<h1>Homepage</h1>



<div class="mb-3">
    <label for="  Select" class="form-label">Select A Stock</label>
    <select id="stocks" class="form-select">
        <option>Select from:</option>
        <option href="#">Stock 1</option>
        <option href="#">Stock 2</option>
        <option href="#">Stock 3</option>
    </select>
</div>

<input class="form-control" type="text" placeholder="Portfolio value" readonly>

<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script> scr="./server.js"</script>