<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="username-input-signup">Username</label>
        <input class="mt-1" type="text" id="username-input-signup" />
      </div>
      <div>
        <label for="password-input-signup">Password</label>
        <input class="mt-1" type="password" id="password-input-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn btn-success mt-2" >Signup!</button>
      <button type="button" class="btn btn-secondary mt-2">
        <a class="text-light text-decoration-none" href="/login">Login</a>
      </button>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>